%html 
  %head
    %link{"type"=>"text/scss","rel"=>"stylesheet","href"=>"/stylesheet.scss"}
  %body
    #main 
      #title= @title
      #rant= @babble
      #morerant= @more_babble
      #evenmorerant= @even_more_babble